* {
    margin: 0;
    padding: 0;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board-div {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
}

.snake {
    background-color: #555;
}

.apple {
    background-color: red;
}
