* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    gap: 1em;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board-div {
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
}


.game-buttons {
    display: flex;
    gap: 1em;
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
}

.line {
    display: flex;
}

.snake.tile {
    background-color: greenyellow;
    border: none;
}

.apple {
    background-color: red;
}

.tile {
    width: 2.2vh;
    height: 2.2vh;
    border: 1px solid #888;
}

h2 {
    font-family: sans-serif;
}